<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>register.registerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>userlogin.login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>changepwd</servlet-name>
    <servlet-class>change.changepwd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>changeinfo</servlet-name>
    <servlet-class>change.changeinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addcar</servlet-name>
    <servlet-class>usercar.addcar</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>modify</servlet-name>
    <servlet-class>usercar.modify</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>clear</servlet-name>
    <servlet-class>usercar.clear</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>remove</servlet-name>
    <servlet-class>userlogin.remove</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>admin.adminlogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>usermanage</servlet-name>
    <servlet-class>admin.usermanage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>bookmanage</servlet-name>
    <servlet-class>admin.bookmanage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addbook</servlet-name>
    <servlet-class>admin.addbook</servlet-class>
  </servlet>




















  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServletAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changepwd</servlet-name>
    <url-pattern>/changepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeinfo</servlet-name>
    <url-pattern>/changeinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addcar</servlet-name>
    <url-pattern>/addcar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modify</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clear</servlet-name>
    <url-pattern>/clear</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usermanage</servlet-name>
    <url-pattern>/usermanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookmanage</servlet-name>
    <url-pattern>/bookmanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addbook</servlet-name>
    <url-pattern>/addbook</url-pattern>
  </servlet-mapping>


</web-app>